{{!-- //this code originally copy pasted from http://blog.sensible.io/2013/05/23/how-to-write-a-login-form.html --}}


{{!-- this is where the problems are --}}
{{!-- none of the model's properties seem to be binding in this template --}}
<form class="form-horizontal">

  <div class="control-group">
    <span class="control-label">
      <label>Email</label>
    </span>

    <span class="controls">
      {{input value=email type="text"}}
    </span>
  </div> {{!-- end control-group --}}

  <div class="control-group">
    <span class="control-label">
      <label>Password</label>
    </span>

    <span class="controls">
      {{input value=password type="password"}}
    </span>
  </div> {{!-- end control-group --}}

  <button {{action 'login'}} class="btn" {{bind-attr disabled="isProcessing"}}>Log in</button>
  <button {{action 'register'}} class="btn" {{bind-attr disabled="isProcessing"}}>Sign up</button>
  <button {{action 'loginFacebook'}} class="btn" {{bind-attr disabled="isProcessing"}}>Log in with Facebook</button>
  <button {{action 'loginTwitter'}} class="btn" {{bind-attr disabled="isProcessing"}}>Log in with Twitter</button>
  <button {{action 'logout'}} class="btn" {{bind-attr disabled="isProcessing"}}>Logout</button>

  {{#if user}}
    <div>You have successfully logged in!</div>
    <div>Welcome, {{user.name}} {{user.email}}</div>
  {{/if}}

  {{#if loginFailed}}
    <div class="alert">There was an error during login. Try again.</div>
    <div class="alert">Message: {{loginError}}</div>
  {{/if}}
  
  {{#if isSlowConnection}}
    <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
  {{/if}}
</form>