<h1>Detail Page</h1>
<ul>
  <li>address: {{address}}</li>
  <li>price: {{price}}</li>
  <li>bedrooms: {{bedrooms}}</li>
  <li>bathrooms: {{bathrooms}}</li>
  <li>squarefeet: {{squarefeet}}</li>
  <li>yearBuilt: {{yearBuilt}}</li>
  <img {{bind-attr src=picture}}>
</ul>
<p>description: {{description}}</p>
{{!-- <button {{action 'printModel'}} class="btn cta-color-btn">Print Model</button>
<button {{action 'pullInstagrams'}} class="btn cta-color-btn">Pull Instagrams</button> --}}
{{#each instagramPhotos}}
  <div>
    <img {{bind-attr src=images.thumbnail.url}} alt="Instagram Photo">
  </div>
{{/each}}