<h1>Detail Page</h1>
<ul>
  <li>address: {{address}}</li>
  <li>price: {{price}}</li>
  <li>bedrooms: {{bedrooms}}</li>
  <li>bathrooms: {{bathrooms}}</li>
  <li>squarefeet: {{squarefeet}}</li>
  <li>yearBuilt: {{yearBuilt}}</li>
</ul>
<p>description: {{description}}</p>